@model WebPhotoArchive.Models.Comment

@{
    ViewBag.Title = "Comment";
    string Name = null;
    int id_link = 0;
}

@foreach (var n in ViewBag.Post)
{
    <div class="row">
        <br />
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="thumbnail">
                @{ Name = n.UserDoName; id_link = n.UserDoId;}
                <input type="hidden" name="id_post" value="@n.Id" />
                <div class="collapse navbar-collapse">
                    <h4>@Html.ActionLink(Name, "/UserProfile/" + id_link, "Home", new { @class = "nav navbar-nav", @style = "text-decoration: none; color: #000000;" })</h4>
                </div>
                <hr />
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(n.Photo) + "\" />") @*для уменьшения добавить в img style='width:300px; height:350px;'*@
                <p><strong>@Name:</strong><i>@n.Description</i></p>
            </div>
        </div>
        <br />
        <div class="col-md-3"></div>
    </div>
}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="results">
            @foreach (var t in ViewBag.Comments)
            {
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>@t.NameComment</h3>
                        <p>@t.Text</p>
                    </li>
                </ul>
            }

        </div>
        @*@using (Ajax.BeginForm("Comment", new AjaxOptions { UpdateTargetId="results", HttpMethod="Post"}))*@
        @using (Html.BeginForm())
        {
            <fieldset>
                <p>Комментарий</p>
                <br />
                <p>@Html.EditorFor(model => model.Text)</p>
                <p>
                    <input type="submit" value="Комментировать" />
                </p>
            </fieldset>
        }
    </div>
    <div class="col-md-3"></div>
</div>